Source: kodi-game-libretro-opera
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-opera (>= 1.0.0) | opera (>= 1.0.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-opera
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: The 3DO Company - 3DO (Opera) core for kodi's retroplayer
 The 3DO Company - 3DO (Opera) core for kodi's retroplayer
